div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px dashed black;
    margin: 20px;
    display: inline-block;
}

.static{
    background-color: lightgreen;
    position: static;
    top: 100px;
}

.relative{
    background-color: lightgreen;
    position: relative;
    top: 100px;
    left: 100px;
}

.absolute{
    background-color: lightgreen;
    position: absolute;
    top: 100px;
    left: 100px;
}

.fixed{
    background-color: lightgreen;
    position: fixed;
    top: 100px;
    left: 100px;
}